@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

/*----------------------------*/
/*      Color Pallete
/*----------------------------*/

.bg-darkBlue {
    background-color: rgba(28, 43, 63, 1);
}

.bg-mediumBlue {
    background-color: rgba(47, 97, 140, 1);
}

.bg-softBlue {
    background-color: rgba(101, 149, 191, 1); 
}

.bg-lightBlue {
    background-color: rgba(149, 185, 216, 0.6);
}

.bg-greenBall {
    background-color: rgba(198, 216, 60, 1);
}

.color-greenBall {
    color: rgba(198, 216, 60, 1);
}

/*----------------------------*/
/*      Navbar Styles
/*----------------------------*/

#navigationBar ul li a {
    color: rgba(198, 216, 60, 1);
    font-size: 2rem;
    font-weight: 400;
}

    #navigationBar ul li:hover a {
        font-weight: 600;
    }

    #navigationBar .li-button {
        background-color: rgba(149, 185, 216, 0.6);
        border-radius: 15px;
        padding: 5px 20px;
    }

/*----------------------------*/
/*      Footer Styles
/*----------------------------*/

#footer {
    /* border-top: 1px solid rgba(198, 216, 60, 1); */
    margin-top: 20px;
    padding-top: 20px;
}

    #footer .footer-icon {
        height: 35px;
    }

    #footer .dev-animation:hover {
        transform: scale(1.2, 1.2);
        transition: transform 0.5s;
        background: linear-gradient(to top, rgba(28,43,63,1) 0%, rgba(101,149,191,1) 9%, rgba(198,216,60,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


/*----------------------------*/
/*      Index Main Styles
/*----------------------------*/

#section-main {
    height: 85vh;
    border-top: 1px solid rgba(198, 216, 60, 1);
}
    #figure-col {
        height: 70%;
    }

    #btns-col {
        height: 30%;
    }

    #section-main .section-main__figure {
        height: 100%;
        background-color: rgb(0, 0, 0);
        background-image: 
            linear-gradient(to right, rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),
            url('../assets/img/index/index-image-smash.webp');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }

    #section-main .section-main__figure .section-main__header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    #section-main .section-main__figure .section-main__header figcaption h1 {
        font-size: 4rem;
    }

        .btn {
            color: rgba(245,245,245,1);
            background-color: rgba(149, 185, 216, 0.6);
            text-transform: uppercase;
            font-size: 2rem;
            border: 0px;
            border-radius: 20px;
            padding: 5px 10px;
        }

        .btn:hover {
            color: rgba(28, 43, 63, 1);
            background-color: rgba(198, 216, 60, 1);
            font-weight: 400;
            cursor: pointer;
        }

        #section-main .index-main__btn {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(198, 216, 60, 1);
        }
        
        /* Responsive sizing  */
        @media (min-width:768px) {
            #figure-col {
                height: 100%;
            }

            #btns-col {
                height:100%;
            }

            #section-main .section-main__figure {
                border-bottom: 1px solid rgba(198, 216, 60, 1);;
            }

            #section-main .index-main__btn {
                height: 50%;
            }

            #section-main .index-main__btn--borderResponsive {
                border-top: none; 
            }
        }