@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

h1,h2,h3{
    color: rgba(198, 216, 60, 1);
}

/*----------------------------*/
/*      Color Pallete
/*----------------------------*/

.bg-darkBlue {
    background-color: rgba(28, 43, 63, 1);
}

.bg-mediumBlue {
    background-color: rgba(47, 97, 140, 1);
}

.bg-softBlue {
    background-color: rgba(101, 149, 191, 1); 
}

.bg-lightBlue {
    background-color: rgba(149, 185, 216, 0.6);
}

.bg-greenBall {
    background-color: rgba(198, 216, 60, 1);
}

.color-greenBall {
    color: rgba(198, 216, 60, 1);
}

/*----------------------------*/
/*      Navbar Styles
/*----------------------------*/

#navigationBar ul li a {
    color: rgba(198, 216, 60, 1);
    font-size: 1.19rem;
    font-weight: 400;
}

    #navigationBar ul li:hover a {
        font-weight: 600;
    }

    #navigationBar .li-button {
        background-color: rgba(198, 216, 60, 1);
        color: rgba(28, 43, 63, 1);
        border-radius: 15px;
        padding: 5px 20px;
    }

/*----------------------------*/
/*      Footer Styles
/*----------------------------*/

#footer {
    border-top: 1px solid rgba(198, 216, 60, 1);
    margin-top: 20px;
    padding-top: 20px;
}

    .footer__icon {
        height: 35px;
    }

    .dev__animation:hover {
        transform: scale(1.2, 1.2);
        transition: transform 0.5s;
        background: linear-gradient(to top, rgba(28,43,63,1) 0%, rgba(101,149,191,1) 9%, rgba(198,216,60,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


/*----------------------------*/
/*      Index Main Styles
/*----------------------------*/

#hero {
    height: 85vh;
}

    #figure__col {
        height: 70%;
    }

    #btns__col {
        height: 30%;
    }

    .hero__figure {
        height: 100%;
        background-color: rgb(0, 0, 0);
        background-image: 
            linear-gradient(to right, rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),
            url('../assets/img/index/index-image-smash.webp');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        box-shadow: 
            inset 2px 2px rgba(198, 216, 60, 0.5),
            2px 2px rgba(198, 216, 60, 0.5);
    }

    .hero__header {
        padding: 30px;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        border: 3px solid rgba(198, 216, 60, 1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .hero__header figcaption h1 {
        font-size: 4rem;
    }

        .btn-header {
            color: rgba(245,245,245,1);
            background-color: rgba(47, 97, 140, 1);
            text-transform: uppercase;
            font-size: 1.5rem;
            border: 0px;
            border-radius: 20px;
            padding: 5px 10px;
        }

        .btn-header:hover {
            color: rgba(28, 43, 63, 1);
            background-color: rgba(198, 216, 60, 1);
            font-weight: 400;
            cursor: pointer;
            transition: all 1s;
        }

        .hero__btn {
            height: 100%;
            width: 100%; 
            background: transparent;
            box-shadow: 
                inset 2px 2px rgba(198, 216, 60, 0.5),
                2px 2px rgba(198, 216, 60, 0.5);
            border:none;
        }

        .hero__btn:hover {
            background: rgba(198, 216, 60, 0.85);
        }

        .hero__btn:hover h2{
            color: rgba(28, 43, 63, 1);
        }

    #services {
        margin-top: 20px;
    }

    .section-services__card {
        position: relative;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
    }
    
    .section-services__card img {
        height: 100%;
        opacity: 0.8;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

        .section-services__cardText{
            width: 100%;
            text-align: center; 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -10%);
        }

        .section-services__cardText h3 {
            background-color: rgba(47, 97, 140, 0.9);
            font-size: 1.5rem;
            padding: 5px;
            text-transform: uppercase;
        }

        .section-services__cardText p {
            color: rgba(255,255,255,1);
            padding: 5px;
            background-color: rgba(149, 185, 216, 0.9);
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        /* Responsive sizing  */
        @media (min-width:768px) {
            #figure__col {
                height: 100%;
            }

            #btns__col {
                height:100%;
            }

            .index-main__btn {
                height: 50%;
            }

            #services {
                height: 400px;
                margin-top: 90px;
                margin-bottom: 90px;
            }
        }

/*----------------------------*/
/*      About us Styles
/*----------------------------*/

#aboutUs__hero img {
    height: 50vh;
    filter: gray;
    -webkit-filter: grayscale(1);
    object-fit: cover;
    opacity: 0.7;
}

.aboutUs__paragraph {
    width: 80%;
    color: rgba(245,245,245,1);
    text-align: justify; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.aboutUs__paragraph h1,h2,h3 {
    text-align: center;
    text-transform: uppercase;
}

.aboutUs__employee img {
    filter: grayscale(0.5);
    border-radius: 50%;
}

.aboutUs__employee img:hover {
    filter: grayscale(0);
}

/*----------------------------*/
/*      Services Styles
/*----------------------------*/

.services__card {
    border-radius: 10px;
    border: 3px solid rgba(198, 216, 60, 1);
}

.services__text p{
    font-size: 1.1rem;
    color: rgba(245,245,245,1);
}

.btn__service {
    color: rgba(245,245,245,1);
    background-color: rgba(47, 97, 140, 1);
    text-transform: capitalize;
    font-size: 1.2rem;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
}

/*----------------------------*/
/*      News Styles
/*----------------------------*/

.news__figure img {
    height: 365px;
    object-fit: cover;
    opacity: 0.8;
}

.p--size {
    font-size: 1.3rem;
}

.text__background {
    width: 90%;
    padding: 20px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
}

/* override of pagination bs class */
.pagination {
    --bs-pagination-color: rgba(198, 216, 60, 0.85);
    --bs-pagination-bg: rgba(47, 97, 140, 1);
    --bs-pagination-border-color: rgba(198, 216, 60, 0.85);
    /* hover styles */
    --bs-pagination-hover-color: rgba(47, 97, 140, 1);
    --bs-pagination-hover-bg: rgba(198, 216, 60, 0.85);
    --bs-pagination-hover-border-color: rgba(198, 216, 60, 1);
    /* focus styles */
    --bs-pagination-focus-color: rgba(198, 216, 60, 0.85);
    --bs-pagination-focus-bg: rgba(47, 97, 140, 1);
    /* active styles */
    --bs-pagination-active-color: rgba(47, 97, 140, 1);
    --bs-pagination-active-bg: rgba(198, 216, 60, 0.85);
    --bs-pagination-active-border-color: rgba(198, 216, 60, 1);
}

/*----------------------------*/
/*      Contact Styles
/*----------------------------*/

.table--mediumBlue {
    font-size: 1.3rem;
    background-color: rgba(47, 97, 140, 0.6);
    color: rgba(198, 216, 60, 1);  
}

.table__td--borderGreenBall td,th {
    border: 1px solid rgba(198, 216, 60, 1);
    text-align: left;
    padding: 8px;
}

.table__td--bgMediumBlue {
    background-color: rgba(47, 97, 140, 0.6);
    color: rgba(198, 216, 60, 1);
    font-size: 1.3rem;
}
