// Global tag selectores for whole website.

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: map-get($map: $palette, $key: 'main');
}

h1,h2,h3,h4 {
    color: map-get($map: $palette, $key: 'primary');
}

a {
    text-decoration: none;
}