// Index Styles
#hero {
    height: 85vh;

    #figure__col {

        .hero__figure {
            height: 100%;
            background-color: map-get($map: $palette, $key: 'shadowDark');
            background-image: 
                linear-gradient(
                    to right, 
                    map-get($map: $palette, $key: 'shadowLight'), 
                    map-get($map: $palette, $key: 'shadowLight'), 
                ),
                url('../../assets/img/index/index-image-smash.webp');
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            position: relative;
            box-shadow: $boxShadowSecondary;
            
            .hero__header {
                @include shadowText(30px);
                border: 3px solid map-get($map: $palette, $key: 'secondary');
                border-radius: 5px;
                z-index: 2;

                figcaption h1 {
                    font-size: map-get($map: $font-sizes, $key: 'xl');

                    @media (min-width: 280px) and (max-width: 576px) {
                        font-size: map-get($map: $font-sizes, $key: 'lg');
                    }
                }
            }
        }
    }

    #btns__col {

        .hero__btn {
            height: 100%;
            width: 100%; 
            background: transparent;
            box-shadow: $boxShadowSecondary;
            border:none;
            border-radius: 5px;


            &:hover {
                background: map-get($map: $palette, $key: 'primary');
            }

            &:hover h2 {
                color: map-get($map: $palette, $key: 'secondary');
                padding: 5px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom: 5px solid map-get($map: $palette, $key: 'secondary ');
                transform: scale(1.2, 1.2);
                transition: all 0.3s;
            }
        }
    }
}     

#services {
    margin-top: 20px;

    .section-services__card {
        position: relative;
        overflow: hidden;
        background-color: map-get($map: $palette, $key: 'shadowDark');
        
        &:hover img,
        &:hover h3,
        &:hover p {
            transform: skew(2deg, 0deg) translateY(-5px);
            transition: transform 0.3s;
            box-shadow: -10px 10px map-get($map: $palette, $key: 'shadowLight'), 
                        -10px 10px map-get($map: $palette, $key: 'shadowLight');
        }

        img {
            height: 100%;
            opacity: 0.8;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .section-services__cardText{
            width: 100%;
            text-align: center; 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -10%);
            
            h3 {
                padding: 5px;
                background-color: map-get($map: $palette, $key: 'secondary');
                font-size: map-get($map: $font-sizes, $key: 'md');
                text-transform: uppercase;
            }
            
            p {
                padding: 5px;
                color: map-get($map: $palette, $key: 'secondary');
                background-color: map-get($map: $palette, $key: 'primary');
                font-family: $mainFont;
                font-size: map-get($map: $font-sizes, $key: 'xs');
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    @media (min-width:768px) {
        height: 400px;
        margin-top: 90px;
        margin-bottom: 90px;
    }
}
