.news__figure {
    img {
        height: 365px;
        object-fit: cover;
        opacity: 0.8;
    }
}

.text__background {
    width: 90%;
    @include shadowText(20px);

    p {
        color: map-get($map: $palette, $key: 'white');
    }
}

/* override of pagination bs class */
.pagination {
    --bs-pagination-color: rgba(198, 216, 60, 0.85);
    --bs-pagination-bg: rgba(47, 97, 140, 1);
    --bs-pagination-border-color: rgba(198, 216, 60, 0.85);
    /* hover styles */
    --bs-pagination-hover-color: rgba(47, 97, 140, 1);
    --bs-pagination-hover-bg: rgba(198, 216, 60, 0.85);
    --bs-pagination-hover-border-color: rgba(198, 216, 60, 1);
    /* focus styles */
    --bs-pagination-focus-color: rgba(198, 216, 60, 0.85);
    --bs-pagination-focus-bg: rgba(47, 97, 140, 1);
    /* active styles */
    --bs-pagination-active-color: rgba(47, 97, 140, 1);
    --bs-pagination-active-bg: rgba(198, 216, 60, 0.85);
    --bs-pagination-active-border-color: rgba(198, 216, 60, 1);
}