.services__card {
    border-radius: 10px;
    border: 3px solid map-get($map: $palette, $key: 'primary');
    
    .services__text {
        p{
            font-size: map-get($map: $font-sizes, $key: 'xs');
            color: map-get($map: $palette, $key: 'white');
        }
    }

    .btn__service {
        color: map-get($map: $palette, $key: 'primary');
        background-color: map-get($map: $palette, $key: 'secondary');
        text-transform: capitalize;
        font-size: map-get($map: $font-sizes, $key: 'sm');
        border: 0px;
        border-radius: 5px;
        padding: 5px 10px;
    }
}

